.projects-title-container{
    width: 100%;
    padding: 50px 0px;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    animation: fadein 2s;
}
.project-card-container{
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.project-card-content{
    margin: 50px auto;
    width: 20rem;
    padding: 10px;
    border-radius: 15px;
    background-color: #F4743B;
    transition: 0.5s;
}
.project-card-content:hover{
    background: #20A4F3;
}
.project-name{
    margin: 10px 0px;
    color:#F6F7F8;
    text-align: center;
}

@media all and (orientation: portrait) {
    .projects-title-container{
        justify-content: space-around;
    }
}